@using Biblioteca.Models
@inject Biblioteca.Repositorios.IServicioSesion Sesion
@inject Biblioteca.Repositorios.IServicioAutenticacion Auth
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Biblioteca</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Biblioteca.styles.css" asp-append-version="true" />
</head>
<body>

    


    @{
        Sesion? s = Sesion.Obtener();
        if (s != null)
        {
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom container">
                <div class="col-md-3 mb-2 mb-md-0">
                    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                        Biblioteca
                    </a>
                </div>
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Inicio</a>
                    </li>
                    @if (Auth.UsuarioTieneAlgunRol(new[] { "ADMINISTRADOR", "BIBLIOTECARIO" }))
                    {
                        <li>
                            <a class="nav-link" asp-controller="Clientes" asp-action="Index">Clientes</a>
                        </li>
                    }
                    <li>
                        <a class="nav-link" asp-controller="Recursos" asp-action="Index">Catálogo de Recursos</a>
                    </li>
                    <li>
                        <a class="nav-link" asp-controller="Reservas" asp-action="Index">Reservas</a>
                    </li>
                </ul>
                <div class="col-md-3 text-end">
                    <form method="post" id="logoutform" action="/Login/Salir">
                        <input name="__RequestVerificationToken" type="hidden" value="@Antiforgery.GetAndStoreTokens(Context).RequestToken" />

                        <button type="submit" id="btnlogout" class="btn btn-outline-primary">Cerrar sesión</button>
                    </form>
                </div>
            </header>
        }
    }

    <div class="container mt-4">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    

</body>

</html>
